* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

/* CSS for header section */
.header {
    height: 800px;
    width: 100%;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
}

.banner-text-div {
    width: 80%;
    margin: auto;
    text-align: right;
    display: flex;
    justify-content: end;
}

.banner-text-div div {
    width: 40%;
}

.banner-text-div h1 {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding-top: 215px;
}

.banner-text-div p {
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
    color: #444343;
}

.banner-text-div button {
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
    background: #F15B22;
    color: #FFFFFF;
    padding: 20px 25px;
    border-style: none;
    border-radius: 8px;
}

/* CSS for main section where multiple content exists */
.main {
    width: 80%;
    margin: 0px auto;
}

/* section my failure start*/
.my-failure-section {
    margin-top: 130px;
    display: flex;
    height: 730px;
}

.failure-image {
    width: 570px;
    height: 730px;    
}

.failure-content{
    margin: 250px 0px 0px;
    height: 400px;
    width: 415px;
    padding-left: 100px;
}

.failure-content span{
    color: #16D887;
    font-weight: 700;
    padding-right: 5px;
}

.failure-content h3 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failure-content p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

/* section my failure end */
/* My plan Section Start */
.my-plan-section {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}

.my-plan-section div h3 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.plan-skill-details {
    display: flex;
    justify-content: space-between;
    gap: 85px;
    text-align: center;
}

.skill-details {
    margin-top: 30px;
}

.skill-details img {
    margin-top: 30px;
}

.skill-details h5 {
    margin-top: 25px;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.skill-details p {
    margin-top: 16px;
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* My plan Section End */
/* Action Section start */
.action {
    margin-top: 130px;
}

.action-details {
    height: 300px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/gradient3.png), url(../images/watch.png);
    border-radius: 8px;
}

.action-content {
    width: 500px;
    padding-top: 60px;
    padding-left: 65px;
}

.action div h3 {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.action div button {
    font-weight: 600;
    font-size: 20px;
    background: #FFFFFF;
    color: #F15B22;
    padding: 20px 25px;
    border-style: none;
    border-radius: 8px;
}

/* Action section end */
/* Partner Section Start */
.partner-section{
    margin-top: 130px;
    height: 300px;
    border-radius: 8px;    
}

.partner-section h3{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.partners-logo{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.partners-logo div{
    object-fit: contain;
    padding: 20px;
}

.partners-logo img{
    height: 100px;
    width: 100px;
}
/* Partner Section End */

/* CSS for footer section */
.footer {
    height: 570px;
    background-color: #151414;
    margin-top: 130px;
}

.footer-content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.address {
    padding-top: 130px;
    width: 40%;
}

.address h3 {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 15px;
}

.address p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.address img{
    padding: 10px 10px 0px 0px;
}

.newsletter {
    padding-top: 130px;
    width: 33%;
}

.newsletter h5 {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.newsletter input {
    margin-top: 30px;
    width: 325px;
    height: 65px;
    border: 2px solid #737272;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    padding-left: 30px;
    background: #151414;
    color: #F8F8F8;
}

.newsletter button {
    margin-top: 15px;
    width: 170px;
    height: 65px;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
    color: #F15B22;
}